<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>eBar</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>eBarEmail</param-name>
    <param-value>eBar@ipl.be</param-value>
  </context-param>
  <jsp-config>
    <taglib>
      <taglib-uri>http://java.sun.com/jsp/jstl/core</taglib-uri>
      <taglib-location>/WEB-INF/tld/c.tld</taglib-location>
    </taglib>
  </jsp-config>
  <servlet>
    <servlet-name>index.html</servlet-name>
    <jsp-file>/WEB-INF/jsp/index.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>Lobby</servlet-name>
    <jsp-file>/WEB-INF/jsp/lobby.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>Game</servlet-name>
    <jsp-file>/WEB-INF/jsp/game.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>PrepareGame</servlet-name>
    <jsp-file>/WEB-INF/jsp/preparegame.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>Journal</servlet-name>
    <jsp-file>/WEB-INF/jsp/journal.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>Controleur</servlet-name>
    <servlet-class>be.ipl.tc.servlets.Controleur</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ListerParties</servlet-name>
    <servlet-class>be.ipl.tc.servlets.ListerParties</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListerParties</servlet-name>
    <url-pattern>/parties.html</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Controleur</servlet-name>
    <url-pattern>*.html</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Controleur</servlet-name>
    <url-pattern>/index.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AfficherPartie</display-name>
    <servlet-name>AfficherPartie</servlet-name>
    <servlet-class>be.ipl.tc.servlets.AfficherPartie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AfficherPartie</servlet-name>
    <url-pattern>/AfficherPartie</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PingPartie</display-name>
    <servlet-name>PingPartie</servlet-name>
    <servlet-class>be.ipl.tc.servlets.PingPartie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PingPartie</servlet-name>
    <url-pattern>/PingPartie</url-pattern>
  </servlet-mapping>
</web-app>