
body
{
	width: 800px;
	margin: auto;
	margin-top: 30px;
	margin-bottom: 30px;
	background-image: url("img/mustang_monster_email.jpg");
	background-attachment: fixed;
	background-size: 100%;
	color: white;
	font-family: Calibri, sans-serif;
}
.container_1st_level
{
	background-image: url("img/bg_black_a50.png");
	padding: 10px;
	margin-bottom: 30px;
	border: 1px solid white;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

h2
{
	display: block;
	text-align: center;
	background-image: url("img/bg_black_a75.png");
	border: 1px solid white;
	width: 350px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	margin: auto;
	margin-top: 25px;
	margin-bottom: 70px;
	padding: 15px;
}

	/**** Lobby ***/

#liste_parties
{
	margin: auto;
	margin-bottom: 25px;
	background-image: url("img/bg_black_a75.png");
	text-align: center;
	border-collapse: collapse;
	width: 75%;
}

th, td
{
	border: 1px solid white;
	padding: 3px;
}

th
{
	background-image: url("img/bg_white_a50.png");
}

#liste_parties .selected
{
	background-image: url("img/bg_blue_a50.png");
}

td:hover
{
	cursor: pointer;
}

.table_filter_container
{
	margin-left: 12.5%;
	margin-top: 20px;
	margin-bottom: 20px;
	background-image: url("img/bg_black_a75.png");
	border: 1px solid white;
	width: 50%;
	text-align: center;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

.action_buttons_container
{
	margin-left: 12.5%;
	margin-top: 20px;
	margin-bottom: 20px;
}

.nom_joueur_container
{

}

.nom_joueur
{
	font-weight: bold;
}

	/*** Journal ***/

.joueur_rouge
{
	color: rgb(255, 0, 0);
	font-weight: bold;
}

.joueur_bleu
{
	color: rgb(81, 175, 206);
	font-weight: bold;
}

.journal_container
{
	margin: auto;
	margin-top: 10px;
	margin-bottom: 20px;
	padding: 15px;
	background-image: url("img/bg_black_a75.png");
	border: 1px solid white;
	width: 75%;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

.journal_meta_info_container
{	
	margin: auto;
	background-image: url("img/bg_black_a75.png");
	border: 1px solid white;
	width: 75%;
	padding: 15px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

.tentative_rate
{
	color: rgb(100, 100, 100);
}

.tentative_touche
{
	color: rgb(0, 255, 0);
}

.tentative_creve
{
	color: rgb(200, 170, 30);
}

	/*** Partie ***/
	
.joueurs_info_container
{
	margin: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 20px;
	text-align: center;
	background-image: url("img/bg_black_a75.png");
	border: 1px solid white;
	width: 45%;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

.tour_info
{
	margin: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 5px;
	text-align: center;
	background-image: url("img/bg_black_a75.png");
	border: 1px solid white;
	width: 30%;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

.grilles_container
{
	margin-top: 40px;
	margin-bottom: 40px;
}

#grille_voitures, #grille_tentatives
{
	margin: auto;
	background-image: url("img/bg_black_a75.png");
	text-align: center;
	border-collapse: collapse;
	width: 100%;
	
}

#grille_voitures td, #grille_tentatives td
{
	height: 20px;
}

.grille_voitures_container
{
	float: left;
	width: 33.3%;
}

#tentative_info_container
{
	float: left;
	width: 33.3%;
}

.grille_tentatives_container
{
	width: 33.3%;
}

#tentative_info_container div
{
	text-align: center;
	margin: auto;
	margin-top: 35px;
	margin-bottom: 35px;
}

.cellule_voiture_rate
{
	background-color: rgba(100, 100, 100);
}

.cellule_voiture_pneu_normal
{
	background-color: rgba(81, 175, 206);
}

.cellule_voiture_pneu_touche
{
	background-color: rgba(200, 170, 30);
}

.cellule_voiture_pneu_creve
{
	background-color: rgba(200, 15, 15);
}

.cellule_voiture_placement
{
	background-color: rgb(30, 200, 15);
}
	
.cellule_tentative_rate
{
	background-color: rgb(100, 100, 100);
}

.cellule_tentative_touche
{
	background-color: rgb(200, 170, 30);
}

.cellule_tentative_creve
{
	background-color: rgb(200, 15, 15);
}

.placement_voiture_container_1st_level
{
	width: 400px;
	margin: auto;
	background-image: url("img/bg_black_a50.png");
	padding: 10px;
	margin-bottom: 30px;
	border: 1px solid white;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.placement_voiture_caracteristiques_left
{
	float: left;
}

.placement_voiture_caracteristiques_right
{
	text-align: right;
}

.selection_caracteristique_voiture
{
	margin-left: 3%;
	margin-bottom: 10px;
	margin-top: 5px;
}

.voiture_selection_display
{
	background-image: url("img/bg_black_a75.png");
	padding: 5px;
	margin-left: 3%;
	margin-bottom: 10px;
	border: 1px solid white;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	width: 200px;
}

.voiture_selection_display table
{
	background-image: url("img/bg_black_a75.png");
	border-collapse: collapse;
	margin: auto;
}

.voiture_selection_display td
{
	height: 20px;
}

.b_placement_voiture
{
	margin-top: 75px;
}

.creation_partie_container
{
	background-image: url("img/bg_black_a75.png");
	padding: 5px;
	margin: auto;
	margin-bottom: 35px;
	border: 1px solid white;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	width: 50%;
}
